/* Estilo para o cabeçalho */
header {
    display: flex;
    align-items: center; /* Alinha verticalmente ao centro */
  }
  header img {
    width: 2.5em; /* Define a largura da imagem para ser igual ao tamanho do texto */
    height: 2.5em; /* Define a altura da imagem para ser igual ao tamanho do texto */
    margin-right: 10px; /* Espaçamento à direita da imagem */
  }
  /* Estilo para a primeira imagem */
  header img:first-child {
    margin-right: 10px; /* Espaçamento à direita da primeira imagem */
  }
  
  /* Estilo para a segunda imagem */
  header img:last-child {
    margin-left: 10px; /* Espaçamento à esquerda da segunda imagem */
  }
  
  /* Defina a animação com a propriedade @keyframes */
  @keyframes moverGif {
    0% {
        transform: translateX(0); /* Começa na posição original (sem movimento horizontal) */
    }
    100% {
        transform: translateX(200px); /* Move 100 pixels para a direita */
    }
  }
  
  /* Aplique a animação à imagem GIF */
  #gif {
    animation: moverGif 4s ease-in-out infinite; /* Nome da animação, duração, timing function e repetição */
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    font-family: 'Lilita One', cursive;
    font-family: 'Poller One', cursive;
    font-size: 50px;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
  }

  