/* Estilo para o cabeçalho */
header {
  display: flex;
  align-items: center; /* Alinha verticalmente ao centro */
}
header img {
  width: 2.5em; /* Define a largura da imagem para ser igual ao tamanho do texto */
  height: 2.5em; /* Define a altura da imagem para ser igual ao tamanho do texto */
  margin-right: 10px; /* Espaçamento à direita da imagem */
}
/* Estilo para a primeira imagem */
header img:first-child {
  margin-right: 10px; /* Espaçamento à direita da primeira imagem */
}

/* Estilo para a segunda imagem */
header img:last-child {
  margin-left: 10px; /* Espaçamento à esquerda da segunda imagem */
}

/* Defina a animação com a propriedade @keyframes */
@keyframes moverGif {
  0% {
      transform: translateX(0); /* Começa na posição original (sem movimento horizontal) */
  }
  100% {
      transform: translateX(100px); /* Move 100 pixels para a direita */
  }
}

/* Aplique a animação à imagem GIF */
#gif {
  animation: moverGif 4s ease-in-out infinite; /* Nome da animação, duração, timing function e repetição */
}

a{
  text-decoration: none;
  color: black;
}
/* Estilo para o body */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  /*display: flex;
  flex-wrap: wrap;
  justify-content: space-between;  Espaço entre as colunas */
}
.item {
  flex-basis: calc(33.33% - 20px); /* 33.33% de largura com espaço entre as colunas */
  margin: 10px; /* Espaçamento entre os itens */
  text-align: center;
}
.item p {
  margin-top: 10px; /* Espaçamento entre a imagem e o texto */
}
/* Estilo para o header */
header {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  font-family: 'Lilita One', cursive;
  font-family: 'Poller One', cursive;
  font-size: 50px;
  text-align: center;
  color: white;
}
div img { /* para dar a todas as imagens ao mesmo tamanho */
  width: 280px!important;
  height: 200px!important;
  }

.flex, img{
      display: flex;
      justify-content: center;
      align-content: center;
      margin: 0 auto;
}
h1, h2, h4{
  text-align: center;
}

footer {
  background-color: #333;
  color: #ffffff;
  text-align: center;
  padding: 10px 0;
  block-size: auto;
  
}

/* Estilo para o link "VOLTAR" no rodapé */
footer a {
  text-decoration: none;
  color: #ffffff;
}

/* Estilo para o link "VOLTAR" no hover */
footer a:hover {
  text-decoration: underline;
  color: #fff;
}
  
